<div id="aboutus" class="content_top"></div>
<div class="content_box">
	<div class="content_title content_aboutus"></div>
	
  <h2>About Us</h2>
        <div class="image_wrapper image_fr"><img src="/assets/templatemo_image_02.jpg" alt="Image" /><span></span></div>
        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat enim nec dolor. Nunc euismod lectus eu neque ultrices laoreet. Aenean et velit tincidunt ante porttitor facilisis. Quisque in turpis vitae enim blandit vehicula.</p>
        <p align="justify">Nullam a tortor est, congue fermentum nisi. Maecenas nulla nulla, lobortis eu volutpat euismod, scelerisque ut dui. Integer luctus tellus ac mi malesuada dignissim. Sed id diam dui. In ut nunc urna.</p>
        <div class="cleaner h30"></div>
        
        <div class="col_w310 float_l">
            <h3>Founder</h3>
            <ul class="tmo_list">
            	<li>Proin facilisis ullamcorper turpis, in placerat</li>
                <li>Nulla facilisi. Maecenas ac odio ipsum donec</li>
                <li>Ut tristique sagittis arcu, vel laoreet turpis</li>
                <li>Fusce risus tortor, interdum in malesuada</li>
                <li>Sed vel justo quis ligula blandit commodo</li>
            </ul>
  		</div>
        
        <div class="col_w310 float_r">
            <h3>Techincal Advisor</h3>
            <blockquote>
            <p>Fusce nec felis id lacus sollicitudin vulputate. Proin tincidunt, arcu id pellentesque accumsan, neque dolor imperdiet ligula, quis viverra tellus nulla a odio. Curabitur vitae enim risus, at placerat turpis. </p>
            <cite>Johnny - <span>Leader</span></cite> </blockquote>
            
        </div>
        
    <div class="cleaner"></div>
    <a href="#" class="gototop">Go To Top</a>
</div>

