        <div id="services" class="content_top"></div>
        <div class="content_box">
        	<div class="content_title content_services"></div>
        		
                <h2>Our Services</h2>
                <div class="cleaner"></div>
                
                <p>Nullam a tortor est, congue fermentum nisi.   Vivamus eu tortor. Phasellus tempus, justo et laoreet varius, odio mi ultrices libero, nec faucibus dui felis eu dui. Cras ac odio ac mi imperdiet sollicitudin. In hac habitasse platea dictumst. Curabitur euismod scelerisque lacus. Cras pretium sem sed odio.</p>
          <div class="cleaner h30"></div>
                <div class="post_box float_l">
                    <div class="image_fr"><span></span><img src="images/templatemo_image_07.jpg" alt="Image" /></div>
                    <p class="post_meta"><span class="cat">Posted in <a href="#">Web Design</a></span> | <a href="#">Comment - 14</a></p>
                    <h3>Web Marketing</h3>
                    <p>Vestibulum adipiscing tempus elit eu condimentum. Fusce at mi felis. Etiam sed velit nibh. Nunc bibendum justo nec eros elementum auctor. <a href="#">more...</a></p>
                    <div class="cleaner"></div>
          </div>
          
<div class="post_box float_r">
                    <div class="image_fr"><span></span><img src="images/templatemo_image_08.jpg" alt="Image" /></div>
                    <p class="post_meta"><span class="cat">Posted in <a href="#">Freebies</a></span> | <a href="#">Comment - 26</a></p>
                    <h3>Free Template</h3>
                    <p>Vestibulum adipiscing tempus elit eu condimentum. Fusce at mi felis. Etiam sed velit nibh. Nunc bibendum justo nec eros elementum auctor. <a href="#">more...</a></p>
                    <div class="cleaner"></div>
          </div>
          
<div class="cleaner"></div>
                <div class="post_box float_l">
                    <div class="image_fr"><span></span><img src="images/templatemo_image_05.jpg" alt="Image" /></div>
                    <p class="post_meta"><span class="cat">Posted in <a href="#">Templates</a></span> | <a href="#">Comment - 42</a></p>
                    <h3>SEO Technique</h3>
                    <p>Vestibulum adipiscing tempus elit eu condimentum. Fusce at mi felis. Etiam sed velit nibh. Nunc bibendum justo nec eros elementum auctor. <a href="#">more...</a></p>
                    <div class="cleaner"></div>
          </div>
                <div class="post_box float_r">
                    <div class="image_fr"><span></span><img src="images/templatemo_image_06.jpg" alt="Image" /></div>
                    <p class="post_meta"><span class="cat">Posted in <a href="#">Art Design</a></span> | <a href="#">Comment - 68</a></p>
                    <h3>New Illustrator</h3>
                    <p>Vestibulum adipiscing tempus elit eu condimentum. Fusce at mi felis. Etiam sed velit nibh. Nunc bibendum justo nec eros elementum auctor. <a href="#">more...</a></p>
                    <div class="cleaner"></div>
</div>
            
            <div class="cleaner"></div>
            <a href="#" class="gototop">Go To Top</a>
        </div>
        

